extends ./layout.pug

block content
	include ./partials/_nav.pug

	h1 Books
	
	.search
		form(action="/book", method="get")
			p
				a.button#search_button(href='#') Search Book	
			p
				label(for='title') Title
				input#title(type="text" name="title" placeholder="Search by title...")
			p
				label(for='author') Author
				input#author(type="text" name="author" placeholder="Search by author...")
			p
				label(for='genre') Genre
				input#genre(type="text" name="genre" placeholder="Search by genre...")
			p
				label(for='first_published') First Published
				input#first_published(type="text" name="first_published" placeholder="Search publish date...")
	
	p
		a.button(href='/book/new') Create New Book
	p
		| Filters 
		a(href='/book') All
		|  
		a(href='/book?filter=overdue') Overdue
		|  
		a(href='/book?filter=checked_out') Checked Out
	
	table
		thead
			tr
				th Title
				th Author
				th Genre
				th Year Released
		tbody
			each book in books
				tr
					td
						a(href="/book/" + book.id) #{book.title}
					td #{book.author}
					td #{book.genre}
					td #{book.first_published}
	p
		if (offsets.prev)
			a.paginate(href='/book' + offsets.querystring + offsets.prevpage + offsets.searchstring) << Prev
		if (offsets.next)
			a.paginate(href='/book' + offsets.querystring + offsets.nextpage + offsets.searchstring) Next >>