extends ./layout.pug

block content
	include ./partials/_nav.pug
	
	h1 Library Manager
	p Welcome to Library Manager
	ul
		li
			| Books
			ul
				li
					a(href='/book/new') New Book
				li
					a(href='/book') List All
				li
					a(href='/book?filter=overdue') List Overdue
				li
					a(href='/book?filter=checked_out') List Checked Out
		li
			| Patrons
			ul
				li
					a(href='/patron/new') New Patron
				li
					a(href='/patron') List All
		li
			| Loans
			ul
				li
					a(href='/loan/new') New Loan
				li
					a(href='/loan') List All
				li
					a(href='/loan?filter=overdue') List Overdue
				li
					a(href='/loan?filter=checked_out') List Checked Out

